In [1]:
#importing required libraries for data visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
data = pd.read_csv("survey.csv")
data_copy1 = data.copy()
data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
print("(rows, cols) = ",data.shape)
data.info()

(rows, cols) =  (1259, 27)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [6]:
data.isnull().sum().sort_values()

Timestamp                       0
mental_vs_physical              0
phys_health_interview           0
mental_health_interview         0
supervisor                      0
coworkers                       0
phys_health_consequence         0
mental_health_consequence       0
leave                           0
anonymity                       0
seek_help                       0
wellness_program                0
obs_consequence                 0
care_options                    0
tech_company                    0
remote_work                     0
no_employees                    0
treatment                       0
family_history                  0
Country                         0
Gender                          0
Age                             0
benefits                        0
self_employed                  18
work_interfere                264
state                         515
comments                     1095
dtype: int64

Cleaning Data
-> columns containg nulls = self_employed, work_interfere, state, comments

In [7]:
#droping useless data columns
useless_data = ['Timestamp', 'state', 'comments']
data.drop(useless_data, axis = 1, inplace = True)

In [18]:
print("rows,cols",data.shape)
data.isnull().sum().sort_values()

rows,cols (1259, 24)

Age                            0
phys_health_interview          0
mental_health_interview        0
supervisor                     0
coworkers                      0
phys_health_consequence        0
mental_health_consequence      0
leave                          0
anonymity                      0
seek_help                      0
wellness_program               0
care_options                   0
benefits                       0
tech_company                   0
remote_work                    0
no_employees                   0
treatment                      0
family_history                 0
Country                        0
Gender                         0
mental_vs_physical             0
obs_consequence                0
self_employed                 18
work_interfere               264
dtype: int64

In [43]:
age_vals = data['Age'].unique().tolist()
for i in age_vals:
    if (i < 18 or i > 100):
        print(i,"\n")

-29

329

99999999999

-1726

5

8

11

-1

In [47]:
#Replacing invalid ages with the median

age_series = pd.Series(data['Age']) #converting age contents to pandas series
age_series[(age_series < 18) | (age_series > 100)] = data['Age'].median()
data['Age'] = age_series #assigning series to Age column
age_series[(age_series < 18) | (age_series > 100)]

Series([], Name: Age, dtype: int64)

In [51]:
#we can see there are no invalid ages
#creating age_group column which might help in relating health to age groups

data['age_group'] = pd.cut(data['Age'], [0, 20, 30, 60, 100], labels = ["0-20", "21-30", "31-60", "61-100"], include_lowest = True)

In [53]:
data['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [62]:
#replace invalid gender inputs with valid ones

male_cat = ["male", "m", "male-ish", "maile", "mal", "male (cis)", "make", "male ", "man","msle", "mail", "malr","cis man", "Cis Male", "cis male"]
female_cat = ["cis female", "f", "female", "woman",  "femake", "female ","cis-female/femme", "female (cis)", "femail"]
trans_cat = ["trans-female", "something kinda male?", "queer/she/they", "non-binary","nah", "all", "enby", "fluid", "genderqueer", "androgyne", "agender", "male leaning androgynous", "guy (-ish) ^_^", "trans woman", "neuter", "female (trans)", "queer", "ostensibly male, unsure what that really means"]

gen_series = pd.Series(data['Gender'])
for i in range(len(gen_series)):
    if str.lower(gen_series[i]) in male_cat:
        gen_series[i] = 'male'
    if str.lower(gen_series[i]) in female_cat:
        gen_series[i] = 'female'
    if str.lower(gen_series[i]) in trans_cat:
        gen_series[i] = 'trans'
data['Gender'] = gen_series
data['Gender'].unique()

array(['female', 'male', 'trans', 'A little about you', 'p'], dtype=object)

In [64]:
#dropping rows with unrelated data like 'A little about you', 'p' in gender
data = data[~data['Gender'].isin(['A little about you', 'p'])]
data['Gender'].unique()

array(['female', 'male', 'trans'], dtype=object)

In [69]:
data['self_employed'].value_counts()

self_employed
No     1095
Yes     144
Name: count, dtype: int64

In [70]:
#as there are many Nos in 'self_employed' column replace null value with no
data['self_employed'] = data['self_employed'].fillna('No')
data['self_employed'].unique()

array(['No', 'Yes'], dtype=object)